<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <title></title>
  <script src="angular.min.js"></script>
  <script src="application.js"></script>
  <link rel="stylesheet" type="text/css" href="application.css">

</head>
<body>

<div ng-app="todo" ng-controller="page">
    <div ng-repeat="tab in tabs">
        <a href="" ng-click="ui.current(tabs.indexOf(tab)+1);">{{tab}}</a>
    </div>

    <hr/>
    <div ng-controller="tab" ng-show="ui.isCurrent(getTabIndex());">{{tab}}
        <ul ng-repeat="item in data">
            <li ng-class="{ 'done': item.complete }" ng-show="item.list == tabs[getTabIndex()-1]">{{item.name}}
                <input type="checkbox" ng-model="item.complete" ng-click="update(item)">
            </li>
        </ul>
        <div>
            <form ng-submit="addNewItem(tabs[getTabIndex()-1])">
                Name :
                <input ng-model="newItem.name" name="name">
                <input type="submit" value="submit">
            </form>
        </div>
    </div>
</div>

</body>
</html>
